.result-view {
  margin: 0 auto !important;
  height: 42px;

  table {
    margin: 0;
    padding: 0;

    td, th { padding-left: 4px; padding-right: 4px; }

    th {
      font-size: $api-font-xs;
      color: $nodemono-gray;
    }

    td {
      max-width: 300px;
      font-size: $api-font-sm;

      input {
        border: 1px solid lighten($nodemono-gray, 20%);
        border-radius: 4px;
        padding: 4px;
        color: $nodemono-gray;

        &:focus { border: 1px solid lighten($nodemono-red, 30%); }
      }

      a {
        cursor: pointer;
        &#copyToClipBoardBtn {
          color: #16a085;

          &.zeroclipboard-is-hover { color: lighten($nodemono-dark-blue, 20%) !important; }
        }

        &.active { color: lighten($nodemono-dark-blue, 20%); }
        &:hover { color: lighten($nodemono-dark-blue, 20%); }
      }
    }
  }
}
