#signup-container{
    margin-top: 200px;    
    text-align: center;
}

#login-container{
    width: 45%;
	top: 25vh;
    padding: 10px;
    float: none;
    box-shadow: 5px 5px 19px #888888;
    oauth-button{
    	width: 25px;
        a {
            margin-bottom: 10px; 
        }
    }
}

#login-submit{
	width: 100%;
}

#register-btn{
	width: 100%;
}

.oauth-container{
    text-align: center;
}

#invalid{
	margin-top: 10px;
	margin-bottom: 0;
}

#glyphy{
    font-size:.7em;
}