#register-container{
    width: 40%;
	top: 10vh;
    padding: 10px;
    float: none;
    box-shadow: 5px 5px 19px #888888;
    oauth-button{
    	width: 100%;
        a {
            margin-bottom: 10px; 
        }
    }
}

#register-submit{
	width: 100%;
}

#oauth-container{
    text-align: center;
}